<main class="relative ">
  <!-- landing -->
  <section class="flex md:flex-row flex-col md:gap-0 gap-6 md:h-[100vh]">
    <!-- Left Side (Red Background with Diagonal Cut) -->
    <div
      class="md:w-[60%] lg:flex lg:items-center lg:justify-between lg:px-20 w-full bg-customRed relative md:clip-zigzag flex items-center justify-center"
    >
      <div class="text-white mt-10 md:mt-0 w-[80%]">
        <h1 class="heading">
          Worried About your CDR report ?
        </h1>
        <p class="mt-4 md:text-xl md:w-[80%] lg:w-[90%]">
          For 100% Positive Assessment from Engineers Australia on the first
          go take our professional assistance.
        </p>
        <button
          class="btn-primary"
        >
          Start Your Cdr now!
        </button>
      </div>
    </div>

    <!-- Right Side (Form or any other content) -->
    <div
      class="md:w-[40%] w-full mb-6 bg-white flex items-center justify-center"
    >
      <form class="bg-gray-100 p-8 rounded-lg shadow-lg w-96">
        <div class="mb-4">
          <label class="label">Name</label>
          <input
            type="text"
            class="input-field"
          />
        </div>
        <div class="mb-4">
          <label class="label">Email</label>
          <input
            type="email"
            class="input-field"
          />
          <label class="label"
            >Phone Number</label
          >
          <input
            type="text"
            class="input-field"
          />
          <label class="label">Message</label>
          <textarea
            type="email"
            class="input-field"
          ></textarea>
        </div>
        <button class="btn-secondary">
          Get Free Consultation
        </button>
      </form>
    </div>
  </section>
  <!-- What is CDR? -->
  <section class="md:min-w-6xl mx-auto my-10 bg-white shadow-lg rounded-lg p-8"
  >
    <h1 class="centered-heading">
      What is CDR Report?
    </h1>
    <p class="centered-paragraph">
      A Competency Demonstration Report (CDR) is a document required by
      Engineers Australia for the Skills Assessment process for engineers
      seeking migration to Australia. It allows Engineers Australia to
      evaluate the competencies of overseas-trained engineers to determine
      whether their qualifications and work experience meet Australian
      standards for engineering practice.
    </p>

    <!-- Buttons for sections -->
    <div
      class="flex md:flex-row flex-col items-center justify-center gap-4 mb-6"
    >
      <button
        onclick="showInfo('careerEpisodes')"
        class="btn-ternary"
      >
        3 CE's (Career Episodes)
      </button>
      <button
        onclick="showInfo('summaryStatement')"
        class="btn-ternary"
      >
        SS (Summary Statement)
      </button>
      <button
        onclick="showInfo('cpd')"
        class="btn-ternary"
      >
        CPD (Continuing Professional Development)
      </button>
      <button
        onclick="showInfo('cv')"
        class="btn-ternary"
      >
        CV (Curriculum Vitae)
      </button>
    </div>

    <!-- Information Display Section -->
    <div id="infoContainer" class="bg-gray-50 p-6 rounded-lg shadow-lg">
      <div class="marquee">
        <span
          >Click on any item above to learn more about it!! Click on any
          item above to learn more about it!! Click on any item above to
          learn more about it!!</span
        >
      </div>
    </div>
  </section>
  <!-- Why experts? -->
  <section class="h-auto bg-gray-100 py-20">
    <div
      class="md:h-[400px] flex flex-col justify-center items-center md:max-w-6xl bg-white rounded-lg shadow-lg mx-auto"
    >
      <h1
        class="centered-heading "
      >
        Want to know Why You need an expert for your CDR assistance?
      </h1>
      <p class="centered-paragraph">
        Engineers Australia (EA) has strict guidelines and requirements for
        CDR submissions. A CDR requires well-written career episodes that
        highlight your engineering skills, projects, and experience. The
        Summary Statement is one of the most critical parts of the CDR, as
        it links your career episodes to the competencies Engineers
        Australia requires. CDR experts ensure that your engineering
        practices and skills are aligned with Australian standards. If
        you're an international engineer, they help you demonstrate that
        your knowledge meets the local engineering requirements in
        Australia.
      </p>

      <div
        class="flex flex-wrap justify-center items-center md:my-0 my-6 md:h-1/3 gap-4"
      >
        <button class="btn-ternary">
          <a href="engineers-australia-guidelines"
            >Engineers Australia's Guidelines</a
          >
        </button>
        <button class="btn-ternary">
          <a href="ai-and-plagiarism-free-content"
            >AI and Plagiarism-Free Content</a
          >
        </button>
        <button class="btn-ternary">
          <a href="demonstrating-engineering-problem-solving"
            >Demonstrating Engineering Problem-Solving</a
          >
        </button>
        <button class="btn-ternary">
          <a href="technical-detailing"> Technical Detailing</a>
        </button>
      </div>
    </div>
  </section>
  <!-- Why CDR writers Nepal -->
  <section>
    <div class="container mx-auto py-10 px-4">
      <!-- Two Column Layout -->
      <div
        class="flex flex-col md:flex-row items-center md:items-start justify-between"
      >
        <!-- Left Side: Content Section -->
        <div class="md:w-1/2 w-full mb-6 md:my-20 md:mb-0">
          <h1 class="normal-heading">
            Why Choose CDR Writers Nepal?
          </h1>
          <p class="normal-paragraph">
            At CDR Writers Nepal, we pride ourselves on providing **100%
            positive responses** to all of our clients. Till date, we have
            successfully helped countless engineers achieve their migration
            goals by delivering high-quality Competency Demonstration
            Reports (CDR) that lead to **one-shot positive assessments**
            from Engineers Australia.
          </p>
          <p class="normal-paragraph">
            With **4 years of experience** in this field, our **professional
            team** of CDR writers, engineers, and consultants understands
            the exact requirements of Engineers Australia. We tailor every
            CDR to highlight your skills, ensuring that you demonstrate the
            required competencies perfectly, avoiding any mistakes that
            could lead to rejection.
          </p>
          <p class="normal-paragraph">
            When you choose CDR Writers Nepal, you’re choosing a dedicated
            partner who will guide you through the entire process, providing
            assistance with Career Episodes, Summary Statements, and CPD. We
            ensure that your report is 100% plagiarism-free, well-organized,
            and aligned with the Engineers Australia guidelines.
          </p>
          <button
            class="btn-ternary"
          >
            Get Professional Help
          </button>
        </div>

        <!-- Right Side: Image Section -->
        <div class="md:w-1/2 w-full">
          <img
            src="../../images/cdrwnepal.png"
            alt="CDR Report Assistance"
            class="rounded-lg shadow-lg w-full h-auto object-cover"
          />
        </div>
      </div>
    </div>
  </section>
  <!-- achievement counts -->
  <section class="py-10 bg-gray-100">
    <div class="container mx-auto text-center">
      <!-- Stats Grid -->
      <div
        class="grid grid-cols-2 sm:grid-cols-4 mt-10 gap-4"
        id="achievements"
      >
        <div>
          <div class="counter" id="clients">0</div>
          <p class="text-xl">Clients</p>
        </div>
        <div>
          <div class="counter" id="years">0</div>
          <p class="text-xl">Years of Service</p>
        </div>
        <div>
          <div class="counter" id="projects">0</div>
          <p class="text-xl">Successful Projects</p>
        </div>
        <div>
          <div class="counter" id="outcomes">0%</div>
          <p class="text-xl">Positive Outcomes</p>
        </div>
      </div>
    </div>
  </section>
  <!-- banner -->
  <section class="relative bg-gray-50 w-full object-fill bg-cover bg-center"
    style="
      background-image: url('/mnt/data/A_clean,_minimalist_full-width_banner_with_a_backg.png');
    "
  >
    <img
      src="../../images/Tihar Offers (1).png"
      class="mx-auto h-[400px]"
      alt=""
    />
  </section>
  <!-- success stories -->
  <section>
    <div class="text-center mt-20">
      <h1 class="centered-heading">Successful Outcomes</h1>
    </div>
    <div class="w-[80%] mt-10 mx-auto relative">
      <div class="swiper multiple-slide-carousel swiper-container relative">
        <div class="swiper-wrapper mb-4">
          <!-- First Slide (Card 1) -->
          <div class="swiper-slide">
            <div
              class="swipper-card"
            >
              <img
                src="../../images/hehe.png"
                alt="Slide 1"
                class="slide-image"
                onclick="openLightbox(this)"
              />
            </div>
          </div>

          <!-- Second Slide (Card 2) -->
          <div class="swiper-slide">
            <div
              class="swipper-card"
            >
              <img
                src="../../images/hehe.png"
                alt="Slide 2"
                class="slide-image"
                onclick="openLightbox(this)"
              />
            </div>
          </div>

          <!-- Third Slide (Card 3) -->
          <div class="swiper-slide">
            <div
              class="swipper-card"
            >
              <img
                src="../../images/hehe.png"
                alt="Slide 3"
                class="slide-image"
                onclick="openLightbox(this)"
              />
            </div>
          </div>

          <!-- Fourth Slide (Card 4) -->
          <div class="swiper-slide">
            <div
              class="swipper-card"
            >
              <img
                src="../../images/hehe.png"
                alt="Slide 4"
                class="slide-image"
                onclick="openLightbox(this)"
              />
            </div>
          </div>
        </div>

        <!-- Pagination (Bottom Navigation) -->
        <div class="swiper-pagination"></div>

        <!-- Arrows for Navigation -->
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>

        <div
          id="lightbox"
          class="lightbox hidden"
          onclick="closeLightbox()"
        >
          <span class="close-lightbox">&times;</span>
          <img class="lightbox-content" id="fullImage" />
        </div>
      </div>
    </div>
  </section>
  <!-- service process -->
  <section class="bg-gray-50 py-10">
    <div class="container md:max-w-6xl mx-auto px-4">
      <h1 class="centered-heading">
        Our Process in Easy Steps
      </h1>

      <div
        class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 mx-auto gap-8"
      >
        <!-- Step 1 -->
        <div
          class="card"
        >
          <div class="mb-4">
            <span
              class="inline-block bg-blue-500 text-white p-3 rounded-full shadow-lg"
            >
              <svg
                class="w-8 h-8"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M8 9l3-3 4 4m0 0l3-3 4 4m-7 1v10a1 1 0 001 1h3m-7-7h2a1 1 0 011 1v2m0 4h.01"
                ></path>
              </svg>
            </span>
          </div>
          <h3 class="small-heading">
            Step 1: Consultation & Documentation Review
          </h3>
          <p class="card-paragraph">
            We offer a free consultation and documentation review to assess
            your needs and help you prepare.
          </p>
        </div>

        <!-- Step 2 -->
        <div
          class="card"
        >
          <div class="mb-4">
            <span
              class="inline-block bg-green-500 text-white p-3 rounded-full shadow-lg"
            >
              <svg
                class="w-8 h-8"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 8v4m0 0v4m0-4h4m-4 0H8m6-10h-4a2 2 0 00-2 2v2a2 2 0 002 2h4a2 2 0 012-2V4a2 2 0 00-2-2zM6 12H4a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2z"
                ></path>
              </svg>
            </span>
          </div>
          <h3 class="small-heading">
            Step 2: Partial Payment
          </h3>
          <p class="card-paragraph">
            Once you're ready to proceed, a partial payment will secure the
            start of the process.
          </p>
        </div>

        <!-- Step 3 -->
        <div
          class="card"
        >
          <div class="mb-4">
            <span
              class="inline-block bg-yellow-500 text-white p-3 rounded-full shadow-lg"
            >
              <svg
                class="w-8 h-8"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M12 14l9-5-9-5-9 5 9 5zm0 7v-6"
                ></path>
              </svg>
            </span>
          </div>
          <h3 class="small-heading">
            Step 3: CDR Writing Starts
          </h3>
          <p class="card-paragraph">
            We begin drafting your CDR with precision and expertise,
            ensuring it meets all standards.
          </p>
        </div>

        <!-- Step 4 -->
        <div
          class="card"
        >
          <div class="mb-4">
            <span
              class="inline-block bg-purple-500 text-white p-3 rounded-full shadow-lg"
            >
              <svg
                class="w-8 h-8"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M19 10l-7 7-7-7"
                ></path>
              </svg>
            </span>
          </div>
          <h3 class="small-heading">
            Step 4: Client Gets the Draft
          </h3>
          <p class="card-paragraph">
            Once the draft is ready, we send it to you for review and
            feedback to ensure complete satisfaction.
          </p>
        </div>

        <!-- Step 5 -->
        <div
          class="card"
        >
          <div class="mb-4">
            <span
              class="inline-block bg-red-500 text-white p-3 rounded-full shadow-lg"
            >
              <svg
                class="w-8 h-8"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M3 12h18M9 5l7 7-7 7"
                ></path>
              </svg>
            </span>
          </div>
          <h3 class="small-heading">
            Step 5: Final CDR Delivery
          </h3>
          <p class="card-paragraph">
            After any necessary revisions, we deliver the final version of
            your CDR for submission.
          </p>
        </div>

        <!-- Step 6 -->
        <div
          class="card"
        >
          <div class="mb-4">
            <span
              class="inline-block bg-teal-500 text-white p-3 rounded-full shadow-lg"
            >
              <svg
                class="w-8 h-8"
                fill="none"
                stroke="currentColor"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M11 11V7a4 4 0 118 0v4a4 4 0 11-8 0zm0 0v4m-6 4h12a1 1 0 010 2H5a1 1 0 110-2z"
                ></path>
              </svg>
            </span>
          </div>
          <h3 class="small-heading">
            Step 6: Final Payment
          </h3>
          <p class="card-paragraph">
            After receiving the final CDR, you can complete the final
            payment and successfully submit the CDR to Engineers Australia.
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- FAQs -->
  <section class="container mx-auto mb-4 mt-10 px-4">
    <h1 class="centered-heading">
      Frequently Asked Questions about CDR
    </h1>

    <div id="accordion-collapse" class="max-w-2xl mx-auto space-y-2">
      <!-- FAQ 1 -->
      <h2>
        <button
          type="button"
          class="btn-faq"
          data-accordion-target="#accordion-collapse-body-1"
          aria-expanded="false"
          aria-controls="accordion-collapse-body-1"
        >
          <span>How to Write a Successful CDR?</span>
          <svg
            class="w-3 h-3 transition-transform transform rotate-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"
            />
          </svg>
        </button>
      </h2>
      <div
        id="accordion-collapse-body-1"
        class="accordion-content max-h-0"
        aria-labelledby="accordion-collapse-heading-1"
      >
        <div
          class="faq-box"
        >
          <p class="faq-paragraph">
            Writing a successful CDR requires you to follow Engineers
            Australia’s guidelines carefully. Focus on three detailed career
            episodes, a well-structured summary statement, and a CPD list to
            demonstrate your engineering competencies.
          </p>
        </div>
      </div>

      <!-- FAQ 2 -->
      <h2>
        <button
          type="button"
          class="btn-faq"
          data-accordion-target="#accordion-collapse-body-2"
          aria-expanded="false"
          aria-controls="accordion-collapse-body-2"
        >
          <span>What is CDR Pathway?</span>
          <svg
            class="w-3 h-3 transition-transform transform rotate-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"
            />
          </svg>
        </button>
      </h2>
      <div
        id="accordion-collapse-body-2"
        class="accordion-content max-h-0"
        aria-labelledby="accordion-collapse-heading-2"
      >
        <div
          class="faq-box"
        >
          <p class="faq-paragraph">
            The CDR Pathway allows engineers to migrate to Australia by
            demonstrating their skills through a CDR submission. It helps
            assess their qualifications and experience against Australian
            standards.
          </p>
        </div>
      </div>

      <!-- FAQ 3 -->
      <h2>
        <button
          type="button"
          class="btn-faq"
          data-accordion-target="#accordion-collapse-body-3"
          aria-expanded="false"
          aria-controls="accordion-collapse-body-3"
        >
          <span>What is CDR in Skill Assessment?</span>
          <svg
            class="w-3 h-3 transition-transform transform rotate-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"
            />
          </svg>
        </button>
      </h2>
      <div
        id="accordion-collapse-body-3"
        class="accordion-content max-h-0"
        aria-labelledby="accordion-collapse-heading-3"
      >
        <div
          class="faq-box"
        >
          <p class="faq-paragraph">
            The CDR in Skill Assessment is used by Engineers Australia to
            evaluate your engineering qualifications and competencies
            against Australian standards.
          </p>
        </div>
      </div>

      <!-- FAQ 4 -->
      <h2>
        <button
          type="button"
          class="btn-faq"
          data-accordion-target="#accordion-collapse-body-4"
          aria-expanded="false"
          aria-controls="accordion-collapse-body-4"
        >
          <span>What to do if your CDR gets rejected?</span>
          <svg
            class="w-3 h-3 transition-transform transform rotate-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"
            />
          </svg>
        </button>
      </h2>
      <div
        id="accordion-collapse-body-4"
        class="accordion-content max-h-0"
        aria-labelledby="accordion-collapse-heading-4"
      >
        <div
          class="faq-box"
        >
          <p class="faq-paragraph">
            If your CDR gets rejected, review the feedback from Engineers
            Australia, update your CDR accordingly, and make sure your
            career episodes align with the competency requirements before
            resubmitting.
          </p>
        </div>
      </div>

      <!-- FAQ 5 -->
      <h2>
        <button
          type="button"
          class="btn-faq"
          data-accordion-target="#accordion-collapse-body-5"
          aria-expanded="false"
          aria-controls="accordion-collapse-body-5"
        >
          <span>What are the possible outcomes from EA?</span>
          <svg
            class="w-3 h-3 transition-transform transform rotate-0"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 10 6"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M9 5 5 1 1 5"
            />
          </svg>
        </button>
      </h2>
      <div
        id="accordion-collapse-body-5"
        class="accordion-content max-h-0"
        aria-labelledby="accordion-collapse-heading-5"
      >
        <div
          class="faq-box"
        >
          <p class="faq-paragraph">
            The outcomes from Engineers Australia can include a successful
            skill assessment, additional information requests, or rejection
            if the CDR does not meet the competency standards.
          </p>
        </div>
      </div>
    </div>
  </section>
</main>

