

    <header class="relative bg-cover bg-center text-white " style="background-image: url('../../images/herobanner.png'); height: 300px;">
        <div class="absolute inset-0  opacity-50"></div> <!-- Overlay for better text visibility -->
        <div class="relative z-10 container mx-auto flex flex-col items-center justify-center h-full text-center">
            <h1 class="text-4xl font-bold md:w-[40%]">ANZESCO CODES</h1>
            <nav class="mt-4 flex space-x-2 text-lg">
                <a href="/" class="hover:underline">Home</a>
                <span>&#xbb;</span>
                <a href="/codes" class="hover:underline">CDR ANZESCO Code</a>
                <span>&#xbb;</span>
                <span>233211 | Civil Engineer</span>
            </nav>
        </div>
    </header>
